*credentials.csv
*key.csv

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform internal directories
.terraform/

# Sensitive local output (optional)
*.pem




ec2.txt # AWS EC2 instance files